<nav class="nav" >
      <a href="{{ "/" | relURL }}" class="nav-logo">
        <img src="{{ print "" .Site.Params.logo.url | relURL }}"
         width="{{ .Site.Params.logo.width }}"
         height="{{ .Site.Params.logo.height }}"
         alt="{{ .Site.Params.logo.alt }}">
      </a>

         <ul class="nav-links" >
            {{ $defaultMenuKey := default "en" .Site.Params.defaultLang }}
            {{ $.Scratch.Set "menuKey" $defaultMenuKey }}
            {{ if not .IsHome }}
               {{ $.Scratch.Set "menuKey" (default $defaultMenuKey .Section) }}
            {{ end }}
            {{ $menuKey := $.Scratch.Get "menuKey" }}
            {{ $menu := default (index .Site.Menus $defaultMenuKey) (index .Site.Menus $menuKey) }}
            {{ range $menu }}
                <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
            {{ end }}
         </ul>
</nav>